{"openapi":"3.0.1","info":{"title":"Micdl Server","description":"Micdl Server D.PaC","version":"1.0"},"servers":[{"url":"https://micdl-server-micdlocp-preprod.apps.os01.ocp.cineca.it","description":"Generated server url"}],"security":[{"bearerAuth":[]}],"paths":{"/backoffice/accordoQuadroes":{"get":{"tags":["accordo-quadro-entity-controller"],"description":"get-accordoquadro","operationId":"getCollectionResource-accordoquadro-get_1","parameters":[{"name":"page","in":"query","description":"Zero-based page index (0..N)","required":false,"schema":{"minimum":0,"type":"integer","default":0}},{"name":"size","in":"query","description":"The size of the page to be returned","required":false,"schema":{"minimum":1,"type":"integer","default":20}},{"name":"sort","in":"query","description":"Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/PagedModelEntityModelAccordoQuadro"}},"text/uri-list":{"schema":{"type":"string"}},"application/x-spring-data-compact+json":{"schema":{"$ref":"#/components/schemas/PagedModelEntityModelAccordoQuadro"}}}}}},"post":{"tags":["accordo-quadro-entity-controller"],"description":"create-accordoquadro","operationId":"postCollectionResource-accordoquadro-post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccordoQuadroRequestBody"}}},"required":true},"responses":{"201":{"description":"Created","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/EntityModelAccordoQuadro"}}}}}}},"/backoffice/accordoQuadroes/{id}":{"get":{"tags":["accordo-quadro-entity-controller"],"description":"get-accordoquadro","operationId":"getItemResource-accordoquadro-get","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/EntityModelAccordoQuadro"}}}},"404":{"description":"Not Found"}}},"put":{"tags":["accordo-quadro-entity-controller"],"description":"update-accordoquadro","operationId":"putItemResource-accordoquadro-put","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccordoQuadroRequestBody"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/EntityModelAccordoQuadro"}}}},"201":{"description":"Created","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/EntityModelAccordoQuadro"}}}},"204":{"description":"No Content"}}},"delete":{"tags":["accordo-quadro-entity-controller"],"description":"delete-accordoquadro","operationId":"deleteItemResource-accordoquadro-delete","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"},"404":{"description":"Not Found"}}},"patch":{"tags":["accordo-quadro-entity-controller"],"description":"patch-accordoquadro","operationId":"patchItemResource-accordoquadro-patch","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccordoQuadroRequestBody"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/EntityModelAccordoQuadro"}}}},"204":{"description":"No Content"}}}},"/backoffice/associazionePrestazioneAfferenzas":{"get":{"tags":["associazione-prestazione-afferenza-entity-controller"],"description":"get-associazioneprestazioneafferenza","operationId":"getCollectionResource-associazioneprestazioneafferenza-get_1","parameters":[{"name":"page","in":"query","description":"Zero-based page index (0..N)","required":false,"schema":{"minimum":0,"type":"integer","default":0}},{"name":"size","in":"query","description":"The size of the page to be returned","required":false,"schema":{"minimum":1,"type":"integer","default":20}},{"name":"sort","in":"query","description":"Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/PagedModelEntityModelAssociazionePrestazioneAfferenza"}},"text/uri-list":{"schema":{"type":"string"}},"application/x-spring-data-compact+json":{"schema":{"$ref":"#/components/schemas/PagedModelEntityModelAssociazionePrestazioneAfferenza"}}}}}},"post":{"tags":["associazione-prestazione-afferenza-entity-controller"],"description":"create-associazioneprestazioneafferenza","operationId":"postCollectionResource-associazioneprestazioneafferenza-post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AssociazionePrestazioneAfferenzaRequestBody"}}},"required":true},"responses":{"201":{"description":"Created","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/EntityModelAssociazionePrestazioneAfferenza"}}}}}}},"/backoffice/associazionePrestazioneAfferenzas/search/deleteByPrestazione":{"get":{"tags":["associazione-prestazione-afferenza-search-controller"],"operationId":"executeSearch-associazioneprestazioneafferenza-get","parameters":[{"name":"idPrestazioneOda","in":"query","schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"},"404":{"description":"Not Found"}}}},"/backoffice/associazionePrestazioneAfferenzas/search/findByCodDescPrestazioneAndClusterCode":{"get":{"tags":["associazione-prestazione-afferenza-search-controller"],"operationId":"executeSearch-associazioneprestazioneafferenza-get_1","parameters":[{"name":"codPrestazione","in":"query","schema":{"type":"string"}},{"name":"descDenomPrestazione","in":"query","schema":{"type":"string"}},{"name":"codCluster","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/EntityModelAssociazionePrestazioneAfferenza"}}}},"404":{"description":"Not Found"}}}},"/backoffice/associazionePrestazioneAfferenzas/search/findByFkPrestazione":{"get":{"tags":["associazione-prestazione-afferenza-search-controller"],"operationId":"executeSearch-associazioneprestazioneafferenza-get_2","parameters":[{"name":"fkPrestazione","in":"query","schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/EntityModelAssociazionePrestazioneAfferenza"}}}},"404":{"description":"Not Found"}}}},"/backoffice/associazionePrestazioneAfferenzas/search/findMaxId":{"get":{"tags":["associazione-prestazione-afferenza-search-controller"],"operationId":"executeSearch-associazioneprestazioneafferenza-get_3","responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"type":"integer","format":"int64"}}}},"404":{"description":"Not Found"}}}},"/backoffice/associazionePrestazioneAfferenzas/{id}":{"get":{"tags":["associazione-prestazione-afferenza-entity-controller"],"description":"get-associazioneprestazioneafferenza","operationId":"getItemResource-associazioneprestazioneafferenza-get","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/EntityModelAssociazionePrestazioneAfferenza"}}}},"404":{"description":"Not Found"}}},"put":{"tags":["associazione-prestazione-afferenza-entity-controller"],"description":"update-associazioneprestazioneafferenza","operationId":"putItemResource-associazioneprestazioneafferenza-put","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AssociazionePrestazioneAfferenzaRequestBody"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/EntityModelAssociazionePrestazioneAfferenza"}}}},"201":{"description":"Created","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/EntityModelAssociazionePrestazioneAfferenza"}}}},"204":{"description":"No Content"}}},"delete":{"tags":["associazione-prestazione-afferenza-entity-controller"],"description":"delete-associazioneprestazioneafferenza","operationId":"deleteItemResource-associazioneprestazioneafferenza-delete","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"},"404":{"description":"Not Found"}}},"patch":{"tags":["associazione-prestazione-afferenza-entity-controller"],"description":"patch-associazioneprestazioneafferenza","operationId":"patchItemResource-associazioneprestazioneafferenza-patch","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AssociazionePrestazioneAfferenzaRequestBody"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/EntityModelAssociazionePrestazioneAfferenza"}}}},"204":{"description":"No Content"}}}},"/backoffice/associazionePrestazioneAfferenzas/{id}/fkCluster":{"get":{"tags":["associazione-prestazione-afferenza-property-reference-controller"],"description":"get-cluster-by-associazioneprestazioneafferenza-Id","operationId":"followPropertyReference-associazioneprestazioneafferenza-get_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/EntityModelCluster"}},"text/uri-list":{"schema":{"type":"string"}}}},"404":{"description":"Not Found"}}},"put":{"tags":["associazione-prestazione-afferenza-property-reference-controller"],"description":"update-cluster-by-associazioneprestazioneafferenza-Id","operationId":"createPropertyReference-associazioneprestazioneafferenza-put","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CollectionModelObject"}},"text/uri-list":{"schema":{"type":"string"}},"application/x-spring-data-compact+json":{"schema":{"$ref":"#/components/schemas/CollectionModelObject"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/EntityModelCluster"}}}},"201":{"description":"Created","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/EntityModelCluster"}}}},"204":{"description":"No Content"}}},"delete":{"tags":["associazione-prestazione-afferenza-property-reference-controller"],"description":"delete-cluster-by-associazioneprestazioneafferenza-Id","operationId":"deletePropertyReference-associazioneprestazioneafferenza-delete","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"},"404":{"description":"Not Found"}}},"patch":{"tags":["associazione-prestazione-afferenza-property-reference-controller"],"description":"patch-cluster-by-associazioneprestazioneafferenza-Id","operationId":"createPropertyReference-associazioneprestazioneafferenza-patch","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CollectionModelObject"}},"text/uri-list":{"schema":{"type":"string"}},"application/x-spring-data-compact+json":{"schema":{"$ref":"#/components/schemas/CollectionModelObject"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/EntityModelCluster"}}}},"204":{"description":"No Content"}}}},"/backoffice/associazionePrestazioneAfferenzas/{id}/fkCluster/{propertyId}":{"get":{"tags":["associazione-prestazione-afferenza-property-reference-controller"],"description":"get-cluster-by-associazioneprestazioneafferenza-Id","operationId":"followPropertyReference-associazioneprestazioneafferenza-get","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"propertyId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/EntityModelCluster"}}}},"404":{"description":"Not Found"}}},"delete":{"tags":["associazione-prestazione-afferenza-property-reference-controller"],"description":"delete-cluster-by-associazioneprestazioneafferenza-Id","operationId":"deletePropertyReferenceId-associazioneprestazioneafferenza-delete","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"propertyId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"},"404":{"description":"Not Found"}}}},"/backoffice/associazionePrestazioneAfferenzas/{id}/fkPrestazione":{"get":{"tags":["associazione-prestazione-afferenza-property-reference-controller"],"description":"get-prestazione-by-associazioneprestazioneafferenza-Id","operationId":"followPropertyReference-associazioneprestazioneafferenza-get_2_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/EntityModelPrestazione"}},"text/uri-list":{"schema":{"type":"string"}}}},"404":{"description":"Not Found"}}},"put":{"tags":["associazione-prestazione-afferenza-property-reference-controller"],"description":"update-prestazione-by-associazioneprestazioneafferenza-Id","operationId":"createPropertyReference-associazioneprestazioneafferenza-put_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CollectionModelObject"}},"text/uri-list":{"schema":{"type":"string"}},"application/x-spring-data-compact+json":{"schema":{"$ref":"#/components/schemas/CollectionModelObject"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/EntityModelPrestazione"}}}},"201":{"description":"Created","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/EntityModelPrestazione"}}}},"204":{"description":"No Content"}}},"delete":{"tags":["associazione-prestazione-afferenza-property-reference-controller"],"description":"delete-prestazione-by-associazioneprestazioneafferenza-Id","operationId":"deletePropertyReference-associazioneprestazioneafferenza-delete_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"},"404":{"description":"Not Found"}}},"patch":{"tags":["associazione-prestazione-afferenza-property-reference-controller"],"description":"patch-prestazione-by-associazioneprestazioneafferenza-Id","operationId":"createPropertyReference-associazioneprestazioneafferenza-patch_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CollectionModelObject"}},"text/uri-list":{"schema":{"type":"string"}},"application/x-spring-data-compact+json":{"schema":{"$ref":"#/components/schemas/CollectionModelObject"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/EntityModelPrestazione"}}}},"204":{"description":"No Content"}}}},"/backoffice/associazionePrestazioneAfferenzas/{id}/fkPrestazione/{propertyId}":{"get":{"tags":["associazione-prestazione-afferenza-property-reference-controller"],"description":"get-prestazione-by-associazioneprestazioneafferenza-Id","operationId":"followPropertyReference-associazioneprestazioneafferenza-get_2","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"propertyId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/EntityModelPrestazione"}}}},"404":{"description":"Not Found"}}},"delete":{"tags":["associazione-prestazione-afferenza-property-reference-controller"],"description":"delete-prestazione-by-associazioneprestazioneafferenza-Id","operationId":"deletePropertyReferenceId-associazioneprestazioneafferenza-delete_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"propertyId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"},"404":{"description":"Not Found"}}}},"/backoffice/associazionePrestazioneOdas":{"get":{"tags":["associazione-prestazione-oda-entity-controller"],"description":"get-associazioneprestazioneoda","operationId":"getCollectionResource-associazioneprestazioneoda-get_1","parameters":[{"name":"page","in":"query","description":"Zero-based page index (0..N)","required":false,"schema":{"minimum":0,"type":"integer","default":0}},{"name":"size","in":"query","description":"The size of the page to be returned","required":false,"schema":{"minimum":1,"type":"integer","default":20}},{"name":"sort","in":"query","description":"Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/PagedModelEntityModelAssociazionePrestazioneOda"}},"text/uri-list":{"schema":{"type":"string"}},"application/x-spring-data-compact+json":{"schema":{"$ref":"#/components/schemas/PagedModelEntityModelAssociazionePrestazioneOda"}}}}}},"post":{"tags":["associazione-prestazione-oda-entity-controller"],"description":"create-associazioneprestazioneoda","operationId":"postCollectionResource-associazioneprestazioneoda-post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AssociazionePrestazioneOdaRequestBody"}}},"required":true},"responses":{"201":{"description":"Created","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/EntityModelAssociazionePrestazioneOda"}}}}}}},"/backoffice/associazionePrestazioneOdas/search/findAllPrestazioniByCodeOda":{"get":{"tags":["associazione-prestazione-oda-search-controller"],"operationId":"executeSearch-associazioneprestazioneoda-get","parameters":[{"name":"codCodiceOda","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/CollectionModelEntityModelAssociazionePrestazioneOda"}}}},"404":{"description":"Not Found"}}}},"/backoffice/associazionePrestazioneOdas/search/findByFkIstanzaOdaAndFkPrestazioneAfferenza":{"get":{"tags":["associazione-prestazione-oda-search-controller"],"operationId":"executeSearch-associazioneprestazioneoda-get_1","parameters":[{"name":"istanzaOda","in":"query","schema":{"type":"integer","format":"int64"}},{"name":"associazionePrestazioneAfferenza","in":"query","schema":{"$ref":"#/components/schemas/AssociazionePrestazioneAfferenza"}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/EntityModelAssociazionePrestazioneOda"}}}},"404":{"description":"Not Found"}}}},"/backoffice/associazionePrestazioneOdas/search/findImpComplessivoPrestazioneByIstanzaOdaAndPrestazioneAfferenza":{"get":{"tags":["associazione-prestazione-oda-search-controller"],"operationId":"executeSearch-associazioneprestazioneoda-get_2","parameters":[{"name":"istanzaOdaId","in":"query","schema":{"type":"integer","format":"int64"}},{"name":"prestazioneAfferenzaId","in":"query","schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/EntityModelAssociazionePrestazioneOda"}}}},"404":{"description":"Not Found"}}}},"/backoffice/associazionePrestazioneOdas/search/findMaxId":{"get":{"tags":["associazione-prestazione-oda-search-controller"],"operationId":"executeSearch-associazioneprestazioneoda-get_3","responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"type":"integer","format":"int64"}}}},"404":{"description":"Not Found"}}}},"/backoffice/associazionePrestazioneOdas/search/findQuantitaByPrestazioneAfferenzaIdAndIstanzaOdaId":{"get":{"tags":["associazione-prestazione-oda-search-controller"],"operationId":"executeSearch-associazioneprestazioneoda-get_4","parameters":[{"name":"prestazioneAfferenzaId","in":"query","schema":{"type":"integer","format":"int64"}},{"name":"istanzaOdaId","in":"query","schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"type":"integer","format":"int64"}}}},"404":{"description":"Not Found"}}}},"/backoffice/associazionePrestazioneOdas/search/updateNumQuantitaPrestazione":{"get":{"tags":["associazione-prestazione-oda-search-controller"],"operationId":"executeSearch-associazioneprestazioneoda-get_5","parameters":[{"name":"idPrestazioneOda","in":"query","schema":{"type":"integer","format":"int64"}},{"name":"numQuantitaPrestazione","in":"query","schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"},"404":{"description":"Not Found"}}}},"/backoffice/associazionePrestazioneOdas/search/updateNumRisorseDigitaliStimate":{"get":{"tags":["associazione-prestazione-oda-search-controller"],"operationId":"executeSearch-associazioneprestazioneoda-get_6","parameters":[{"name":"idPrestazioneOda","in":"query","schema":{"type":"integer","format":"int64"}},{"name":"numRisorseDigitaliStimate","in":"query","schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"},"404":{"description":"Not Found"}}}},"/backoffice/associazionePrestazioneOdas/{id}":{"get":{"tags":["associazione-prestazione-oda-entity-controller"],"description":"get-associazioneprestazioneoda","operationId":"getItemResource-associazioneprestazioneoda-get","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/EntityModelAssociazionePrestazioneOda"}}}},"404":{"description":"Not Found"}}},"put":{"tags":["associazione-prestazione-oda-entity-controller"],"description":"update-associazioneprestazioneoda","operationId":"putItemResource-associazioneprestazioneoda-put","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AssociazionePrestazioneOdaRequestBody"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/EntityModelAssociazionePrestazioneOda"}}}},"201":{"description":"Created","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/EntityModelAssociazionePrestazioneOda"}}}},"204":{"description":"No Content"}}},"delete":{"tags":["associazione-prestazione-oda-entity-controller"],"description":"delete-associazioneprestazioneoda","operationId":"deleteItemResource-associazioneprestazioneoda-delete","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"},"404":{"description":"Not Found"}}},"patch":{"tags":["associazione-prestazione-oda-entity-controller"],"description":"patch-associazioneprestazioneoda","operationId":"patchItemResource-associazioneprestazioneoda-patch","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AssociazionePrestazioneOdaRequestBody"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/EntityModelAssociazionePrestazioneOda"}}}},"204":{"description":"No Content"}}}},"/backoffice/associazionePrestazioneOdas/{id}/fkIstanzaOda":{"get":{"tags":["associazione-prestazione-oda-property-reference-controller"],"description":"get-istanzaoda-by-associazioneprestazioneoda-Id","operationId":"followPropertyReference-associazioneprestazioneoda-get_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/EntityModelIstanzaOda"}},"text/uri-list":{"schema":{"type":"string"}}}},"404":{"description":"Not Found"}}},"put":{"tags":["associazione-prestazione-oda-property-reference-controller"],"description":"update-istanzaoda-by-associazioneprestazioneoda-Id","operationId":"createPropertyReference-associazioneprestazioneoda-put","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CollectionModelObject"}},"text/uri-list":{"schema":{"type":"string"}},"application/x-spring-data-compact+json":{"schema":{"$ref":"#/components/schemas/CollectionModelObject"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/EntityModelIstanzaOda"}}}},"201":{"description":"Created","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/EntityModelIstanzaOda"}}}},"204":{"description":"No Content"}}},"delete":{"tags":["associazione-prestazione-oda-property-reference-controller"],"description":"delete-istanzaoda-by-associazioneprestazioneoda-Id","operationId":"deletePropertyReference-associazioneprestazioneoda-delete","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"},"404":{"description":"Not Found"}}},"patch":{"tags":["associazione-prestazione-oda-property-reference-controller"],"description":"patch-istanzaoda-by-associazioneprestazioneoda-Id","operationId":"createPropertyReference-associazioneprestazioneoda-patch","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CollectionModelObject"}},"text/uri-list":{"schema":{"type":"string"}},"application/x-spring-data-compact+json":{"schema":{"$ref":"#/components/schemas/CollectionModelObject"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/EntityModelIstanzaOda"}}}},"204":{"description":"No Content"}}}},"/backoffice/associazionePrestazioneOdas/{id}/fkIstanzaOda/{propertyId}":{"get":{"tags":["associazione-prestazione-oda-property-reference-controller"],"description":"get-istanzaoda-by-associazioneprestazioneoda-Id","operationId":"followPropertyReference-associazioneprestazioneoda-get","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"propertyId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/EntityModelIstanzaOda"}}}},"404":{"description":"Not Found"}}},"delete":{"tags":["associazione-prestazione-oda-property-reference-controller"],"description":"delete-istanzaoda-by-associazioneprestazioneoda-Id","operationId":"deletePropertyReferenceId-associazioneprestazioneoda-delete","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"propertyId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"},"404":{"description":"Not Found"}}}},"/backoffice/associazionePrestazioneOdas/{id}/fkPrestazioneAfferenza":{"get":{"tags":["associazione-prestazione-oda-property-reference-controller"],"description":"get-associazioneprestazioneafferenza-by-associazioneprestazioneoda-Id","operationId":"followPropertyReference-associazioneprestazioneoda-get_2_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/EntityModelAssociazionePrestazioneAfferenza"}},"text/uri-list":{"schema":{"type":"string"}}}},"404":{"description":"Not Found"}}},"put":{"tags":["associazione-prestazione-oda-property-reference-controller"],"description":"update-associazioneprestazioneafferenza-by-associazioneprestazioneoda-Id","operationId":"createPropertyReference-associazioneprestazioneoda-put_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CollectionModelObject"}},"text/uri-list":{"schema":{"type":"string"}},"application/x-spring-data-compact+json":{"schema":{"$ref":"#/components/schemas/CollectionModelObject"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/EntityModelAssociazionePrestazioneAfferenza"}}}},"201":{"description":"Created","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/EntityModelAssociazionePrestazioneAfferenza"}}}},"204":{"description":"No Content"}}},"delete":{"tags":["associazione-prestazione-oda-property-reference-controller"],"description":"delete-associazioneprestazioneafferenza-by-associazioneprestazioneoda-Id","operationId":"deletePropertyReference-associazioneprestazioneoda-delete_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"},"404":{"description":"Not Found"}}},"patch":{"tags":["associazione-prestazione-oda-property-reference-controller"],"description":"patch-associazioneprestazioneafferenza-by-associazioneprestazioneoda-Id","operationId":"createPropertyReference-associazioneprestazioneoda-patch_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CollectionModelObject"}},"text/uri-list":{"schema":{"type":"string"}},"application/x-spring-data-compact+json":{"schema":{"$ref":"#/components/schemas/CollectionModelObject"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/EntityModelAssociazionePrestazioneAfferenza"}}}},"204":{"description":"No Content"}}}},"/backoffice/associazionePrestazioneOdas/{id}/fkPrestazioneAfferenza/{propertyId}":{"get":{"tags":["associazione-prestazione-oda-property-reference-controller"],"description":"get-associazioneprestazioneafferenza-by-associazioneprestazioneoda-Id","operationId":"followPropertyReference-associazioneprestazioneoda-get_2","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"propertyId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/EntityModelAssociazionePrestazioneAfferenza"}}}},"404":{"description":"Not Found"}}},"delete":{"tags":["associazione-prestazione-oda-property-reference-controller"],"description":"delete-associazioneprestazioneafferenza-by-associazioneprestazioneoda-Id","operationId":"deletePropertyReferenceId-associazioneprestazioneoda-delete_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"propertyId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"},"404":{"description":"Not Found"}}}},"/backoffice/cantieres":{"get":{"tags":["cantiere-entity-controller"],"description":"get-cantiere","operationId":"getCollectionResource-cantiere-get_1","parameters":[{"name":"page","in":"query","description":"Zero-based page index (0..N)","required":false,"schema":{"minimum":0,"type":"integer","default":0}},{"name":"size","in":"query","description":"The size of the page to be returned","required":false,"schema":{"minimum":1,"type":"integer","default":20}},{"name":"sort","in":"query","description":"Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/PagedModelEntityModelCantiere"}},"text/uri-list":{"schema":{"type":"string"}},"application/x-spring-data-compact+json":{"schema":{"$ref":"#/components/schemas/PagedModelEntityModelCantiere"}}}}}},"post":{"tags":["cantiere-entity-controller"],"description":"create-cantiere","operationId":"postCollectionResource-cantiere-post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CantiereRequestBody"}}},"required":true},"responses":{"201":{"description":"Created","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/EntityModelCantiere"}}}}}}},"/backoffice/cantieres/search/findByCantiereInSessione":{"get":{"tags":["cantiere-search-controller"],"operationId":"executeSearch-cantiere-get","responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/EntityModelCantiere"}}}},"404":{"description":"Not Found"}}}},"/backoffice/cantieres/search/getCantiereById":{"get":{"tags":["cantiere-search-controller"],"operationId":"executeSearch-cantiere-get_1","parameters":[{"name":"cantiereId","in":"query","schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/EntityModelCantiere"}}}},"404":{"description":"Not Found"}}}},"/backoffice/cantieres/search/getCantieriByRole":{"get":{"tags":["cantiere-search-controller"],"operationId":"executeSearch-cantiere-get_2","parameters":[{"name":"idRuolo","in":"query","schema":{"type":"integer","format":"int64"}},{"name":"filter","in":"query","schema":{"type":"string"}},{"name":"page","in":"query","description":"Zero-based page index (0..N)","required":false,"schema":{"minimum":0,"type":"integer","default":0}},{"name":"size","in":"query","description":"The size of the page to be returned","required":false,"schema":{"minimum":1,"type":"integer","default":20}},{"name":"sort","in":"query","description":"Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/PagedModelEntityModelCantiere"}}}},"404":{"description":"Not Found"}}}},"/backoffice/cantieres/search/searchByNomeOrCod":{"get":{"tags":["cantiere-search-controller"],"operationId":"executeSearch-cantiere-get_3","parameters":[{"name":"filter","in":"query","schema":{"type":"string"}},{"name":"page","in":"query","description":"Zero-based page index (0..N)","required":false,"schema":{"minimum":0,"type":"integer","default":0}},{"name":"size","in":"query","description":"The size of the page to be returned","required":false,"schema":{"minimum":1,"type":"integer","default":20}},{"name":"sort","in":"query","description":"Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/PagedModelEntityModelCantiere"}}}},"404":{"description":"Not Found"}}}},"/backoffice/cantieres/{id}":{"get":{"tags":["cantiere-entity-controller"],"description":"get-cantiere","operationId":"getItemResource-cantiere-get","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/EntityModelCantiere"}}}},"404":{"description":"Not Found"}}},"put":{"tags":["cantiere-entity-controller"],"description":"update-cantiere","operationId":"putItemResource-cantiere-put","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CantiereRequestBody"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/EntityModelCantiere"}}}},"201":{"description":"Created","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/EntityModelCantiere"}}}},"204":{"description":"No Content"}}},"delete":{"tags":["cantiere-entity-controller"],"description":"delete-cantiere","operationId":"deleteItemResource-cantiere-delete","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"},"404":{"description":"Not Found"}}},"patch":{"tags":["cantiere-entity-controller"],"description":"patch-cantiere","operationId":"patchItemResource-cantiere-patch","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CantiereRequestBody"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/EntityModelCantiere"}}}},"204":{"description":"No Content"}}}},"/backoffice/cantieres/{id}/statoCantiere":{"get":{"tags":["cantiere-property-reference-controller"],"description":"get-statocantiere-by-cantiere-Id","operationId":"followPropertyReference-cantiere-get_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/EntityModelStatoCantiere"}},"text/uri-list":{"schema":{"type":"string"}}}},"404":{"description":"Not Found"}}},"put":{"tags":["cantiere-property-reference-controller"],"description":"update-statocantiere-by-cantiere-Id","operationId":"createPropertyReference-cantiere-put","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CollectionModelObject"}},"text/uri-list":{"schema":{"type":"string"}},"application/x-spring-data-compact+json":{"schema":{"$ref":"#/components/schemas/CollectionModelObject"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/EntityModelStatoCantiere"}}}},"201":{"description":"Created","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/EntityModelStatoCantiere"}}}},"204":{"description":"No Content"}}},"delete":{"tags":["cantiere-property-reference-controller"],"description":"delete-statocantiere-by-cantiere-Id","operationId":"deletePropertyReference-cantiere-delete","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"},"404":{"description":"Not Found"}}},"patch":{"tags":["cantiere-property-reference-controller"],"description":"patch-statocantiere-by-cantiere-Id","operationId":"createPropertyReference-cantiere-patch","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CollectionModelObject"}},"text/uri-list":{"schema":{"type":"string"}},"application/x-spring-data-compact+json":{"schema":{"$ref":"#/components/schemas/CollectionModelObject"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/EntityModelStatoCantiere"}}}},"204":{"description":"No Content"}}}},"/backoffice/cantieres/{id}/statoCantiere/{propertyId}":{"get":{"tags":["cantiere-property-reference-controller"],"description":"get-statocantiere-by-cantiere-Id","operationId":"followPropertyReference-cantiere-get","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"propertyId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/EntityModelStatoCantiere"}}}},"404":{"description":"Not Found"}}},"delete":{"tags":["cantiere-property-reference-controller"],"description":"delete-statocantiere-by-cantiere-Id","operationId":"deletePropertyReferenceId-cantiere-delete","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"propertyId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"},"404":{"description":"Not Found"}}}},"/backoffice/clusters":{"get":{"tags":["cluster-entity-controller"],"description":"get-cluster","operationId":"getCollectionResource-cluster-get_1","parameters":[{"name":"page","in":"query","description":"Zero-based page index (0..N)","required":false,"schema":{"minimum":0,"type":"integer","default":0}},{"name":"size","in":"query","description":"The size of the page to be returned","required":false,"schema":{"minimum":1,"type":"integer","default":20}},{"name":"sort","in":"query","description":"Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/PagedModelEntityModelCluster"}},"text/uri-list":{"schema":{"type":"string"}},"application/x-spring-data-compact+json":{"schema":{"$ref":"#/components/schemas/PagedModelEntityModelCluster"}}}}}},"post":{"tags":["cluster-entity-controller"],"description":"create-cluster","operationId":"postCollectionResource-cluster-post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClusterRequestBody"}}},"required":true},"responses":{"201":{"description":"Created","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/EntityModelCluster"}}}}}}},"/backoffice/clusters/search/findClusterByClusterCode":{"get":{"tags":["cluster-search-controller"],"operationId":"executeSearch-cluster-get","parameters":[{"name":"clusterCode","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/EntityModelCluster"}}}},"404":{"description":"Not Found"}}}},"/backoffice/clusters/search/getAllClusterByIdLottoGeografico":{"get":{"tags":["cluster-search-controller"],"operationId":"executeSearch-cluster-get_1","parameters":[{"name":"idLottoGeografico","in":"query","schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/CollectionModelEntityModelCluster"}}}},"404":{"description":"Not Found"}}}},"/backoffice/clusters/search/getClusterByIdRuolo":{"get":{"tags":["cluster-search-controller"],"operationId":"executeSearch-cluster-get_2","parameters":[{"name":"idRuolo","in":"query","schema":{"type":"integer","format":"int64"}},{"name":"idUtente","in":"query","schema":{"type":"integer","format":"int64"}},{"name":"codCluster","in":"query","schema":{"type":"string"}},{"name":"page","in":"query","description":"Zero-based page index (0..N)","required":false,"schema":{"minimum":0,"type":"integer","default":0}},{"name":"size","in":"query","description":"The size of the page to be returned","required":false,"schema":{"minimum":1,"type":"integer","default":20}},{"name":"sort","in":"query","description":"Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/PagedModelEntityModelCluster"}}}},"404":{"description":"Not Found"}}}},"/backoffice/clusters/search/getDescNote":{"get":{"tags":["cluster-search-controller"],"operationId":"executeSearch-cluster-get_3","parameters":[{"name":"codCodiceOda","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/EntityModelCluster"}}}},"404":{"description":"Not Found"}}}},"/backoffice/clusters/search/getElencoOdaManagementBm":{"get":{"tags":["cluster-search-controller"],"operationId":"executeSearch-cluster-get_4","parameters":[{"name":"clusterCode","in":"query","schema":{"type":"string"}},{"name":"page","in":"query","description":"Zero-based page index (0..N)","required":false,"schema":{"minimum":0,"type":"integer","default":0}},{"name":"size","in":"query","description":"The size of the page to be returned","required":false,"schema":{"minimum":1,"type":"integer","default":20}},{"name":"sort","in":"query","description":"Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/PagedModelEntityModelCluster"}}}},"404":{"description":"Not Found"}}}},"/backoffice/clusters/search/getElencoOdaManagementPo":{"get":{"tags":["cluster-search-controller"],"operationId":"executeSearch-cluster-get_5","parameters":[{"name":"clusterCode","in":"query","schema":{"type":"string"}},{"name":"page","in":"query","description":"Zero-based page index (0..N)","required":false,"schema":{"minimum":0,"type":"integer","default":0}},{"name":"size","in":"query","description":"The size of the page to be returned","required":false,"schema":{"minimum":1,"type":"integer","default":20}},{"name":"sort","in":"query","description":"Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/PagedModelEntityModelCluster"}}}},"404":{"description":"Not Found"}}}},"/backoffice/clusters/search/getElencoOdaOverview":{"get":{"tags":["cluster-search-controller"],"operationId":"executeSearch-cluster-get_6","parameters":[{"name":"clusterCode","in":"query","required":true,"schema":{"type":"string"}},{"name":"clusterCode","in":"query","schema":{"type":"string"}},{"name":"codiceOda","in":"query","schema":{"type":"string"}},{"name":"descStatoOda","in":"query","schema":{"type":"string"}},{"name":"dataCreazioneDa","in":"query","schema":{"type":"string"}},{"name":"dataCreazioneA","in":"query","schema":{"type":"string"}},{"name":"page","in":"query","description":"Zero-based page index (0..N)","required":false,"schema":{"minimum":0,"type":"integer","default":0}},{"name":"size","in":"query","description":"The size of the page to be returned","required":false,"schema":{"minimum":1,"type":"integer","default":20}},{"name":"sort","in":"query","description":"Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/PagedModelEntityModelCluster"}}}},"404":{"description":"Not Found"}}}},"/backoffice/clusters/search/getImpBudgetCluster":{"get":{"tags":["cluster-search-controller"],"operationId":"executeSearch-cluster-get_7","parameters":[{"name":"clusterCode","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"type":"number","format":"double"}}}},"404":{"description":"Not Found"}}}},"/backoffice/clusters/search/getImpOperativoComplessivoApprovato":{"get":{"tags":["cluster-search-controller"],"operationId":"executeSearch-cluster-get_8","parameters":[{"name":"clusterCode","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"type":"number","format":"double"}}}},"404":{"description":"Not Found"}}}},"/backoffice/clusters/search/getImpOperativoComplessivoInApprovazione":{"get":{"tags":["cluster-search-controller"],"operationId":"executeSearch-cluster-get_9","parameters":[{"name":"clusterCode","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"type":"number","format":"double"}}}},"404":{"description":"Not Found"}}}},"/backoffice/clusters/search/getImpOpzionaleComplessivoApprovato":{"get":{"tags":["cluster-search-controller"],"operationId":"executeSearch-cluster-get_10","parameters":[{"name":"idLottoGeografico","in":"query","schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"type":"number","format":"double"}}}},"404":{"description":"Not Found"}}}},"/backoffice/clusters/search/getImpOpzionaleComplessivoInApprovazione":{"get":{"tags":["cluster-search-controller"],"operationId":"executeSearch-cluster-get_11","parameters":[{"name":"idLottoGeografico","in":"query","schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"type":"number","format":"double"}}}},"404":{"description":"Not Found"}}}},"/backoffice/clusters/search/getImportoOdaBorsellinoLottoInApprovazione":{"get":{"tags":["cluster-search-controller"],"operationId":"executeSearch-cluster-get_12","parameters":[{"name":"clusterCode","in":"query","schema":{"type":"string"}},{"name":"codCodiceOda","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"type":"number","format":"double"}}}},"404":{"description":"Not Found"}}}},"/backoffice/clusters/search/getImportoOdaClusterInApprovazione":{"get":{"tags":["cluster-search-controller"],"operationId":"executeSearch-cluster-get_13","parameters":[{"name":"clusterCode","in":"query","schema":{"type":"string"}},{"name":"codCodiceOda","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"type":"number","format":"double"}}}},"404":{"description":"Not Found"}}}},"/backoffice/clusters/search/getLottoGeograficoByClusterCode":{"get":{"tags":["cluster-search-controller"],"operationId":"executeSearch-cluster-get_14","parameters":[{"name":"clusterCode","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/EntityModelCluster"}}}},"404":{"description":"Not Found"}}}},"/backoffice/clusters/search/getOperatoreEconomicoByClusterCode":{"get":{"tags":["cluster-search-controller"],"operationId":"executeSearch-cluster-get_15","parameters":[{"name":"clusterCode","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/EntityModelCluster"}}}},"404":{"description":"Not Found"}}}},"/backoffice/clusters/search/getProceduraGaraByClusterSelezionato":{"get":{"tags":["cluster-search-controller"],"operationId":"executeSearch-cluster-get_16","parameters":[{"name":"clusterCode","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/EntityModelCluster"}}}},"404":{"description":"Not Found"}}}},"/backoffice/clusters/{id}":{"get":{"tags":["cluster-entity-controller"],"description":"get-cluster","operationId":"getItemResource-cluster-get","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/EntityModelCluster"}}}},"404":{"description":"Not Found"}}},"put":{"tags":["cluster-entity-controller"],"description":"update-cluster","operationId":"putItemResource-cluster-put","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClusterRequestBody"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/EntityModelCluster"}}}},"201":{"description":"Created","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/EntityModelCluster"}}}},"204":{"description":"No Content"}}},"delete":{"tags":["cluster-entity-controller"],"description":"delete-cluster","operationId":"deleteItemResource-cluster-delete","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"},"404":{"description":"Not Found"}}},"patch":{"tags":["cluster-entity-controller"],"description":"patch-cluster","operationId":"patchItemResource-cluster-patch","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClusterRequestBody"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/EntityModelCluster"}}}},"204":{"description":"No Content"}}}},"/backoffice/consuntivoOdas":{"get":{"tags":["consuntivo-oda-entity-controller"],"description":"get-consuntivooda","operationId":"getCollectionResource-consuntivooda-get_1","parameters":[{"name":"page","in":"query","description":"Zero-based page index (0..N)","required":false,"schema":{"minimum":0,"type":"integer","default":0}},{"name":"size","in":"query","description":"The size of the page to be returned","required":false,"schema":{"minimum":1,"type":"integer","default":20}},{"name":"sort","in":"query","description":"Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/PagedModelEntityModelConsuntivoOda"}},"text/uri-list":{"schema":{"type":"string"}},"application/x-spring-data-compact+json":{"schema":{"$ref":"#/components/schemas/PagedModelEntityModelConsuntivoOda"}}}}}},"post":{"tags":["consuntivo-oda-entity-controller"],"description":"create-consuntivooda","operationId":"postCollectionResource-consuntivooda-post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConsuntivoOdaRequestBody"}}},"required":true},"responses":{"201":{"description":"Created","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/EntityModelConsuntivoOda"}}}}}}},"/backoffice/consuntivoOdas/search/findByFkIstanzaOda":{"get":{"tags":["consuntivo-oda-search-controller"],"operationId":"executeSearch-consuntivooda-get","parameters":[{"name":"fkIstanzaOda","in":"query","schema":{"$ref":"#/components/schemas/IstanzaOda"}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/EntityModelConsuntivoOda"}}}},"404":{"description":"Not Found"}}}},"/backoffice/consuntivoOdas/search/findMaxId":{"get":{"tags":["consuntivo-oda-search-controller"],"operationId":"executeSearch-consuntivooda-get_1","responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"type":"integer","format":"int64"}}}},"404":{"description":"Not Found"}}}},"/backoffice/consuntivoOdas/search/getImpOperativoComplessivo":{"get":{"tags":["consuntivo-oda-search-controller"],"operationId":"executeSearch-consuntivooda-get_2","parameters":[{"name":"codCodiceOda","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"type":"number","format":"double"}}}},"404":{"description":"Not Found"}}}},"/backoffice/consuntivoOdas/search/getImpOpzionaleComplessivo":{"get":{"tags":["consuntivo-oda-search-controller"],"operationId":"executeSearch-consuntivooda-get_3","parameters":[{"name":"codCodiceOda","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"type":"number","format":"double"}}}},"404":{"description":"Not Found"}}}},"/backoffice/consuntivoOdas/{id}":{"get":{"tags":["consuntivo-oda-entity-controller"],"description":"get-consuntivooda","operationId":"getItemResource-consuntivooda-get","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/EntityModelConsuntivoOda"}}}},"404":{"description":"Not Found"}}},"put":{"tags":["consuntivo-oda-entity-controller"],"description":"update-consuntivooda","operationId":"putItemResource-consuntivooda-put","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConsuntivoOdaRequestBody"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/EntityModelConsuntivoOda"}}}},"201":{"description":"Created","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/EntityModelConsuntivoOda"}}}},"204":{"description":"No Content"}}},"delete":{"tags":["consuntivo-oda-entity-controller"],"description":"delete-consuntivooda","operationId":"deleteItemResource-consuntivooda-delete","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"},"404":{"description":"Not Found"}}},"patch":{"tags":["consuntivo-oda-entity-controller"],"description":"patch-consuntivooda","operationId":"patchItemResource-consuntivooda-patch","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConsuntivoOdaRequestBody"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/EntityModelConsuntivoOda"}}}},"204":{"description":"No Content"}}}},"/backoffice/consuntivoOdas/{id}/fkIstanzaOda":{"get":{"tags":["consuntivo-oda-property-reference-controller"],"description":"get-istanzaoda-by-consuntivooda-Id","operationId":"followPropertyReference-consuntivooda-get_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/EntityModelIstanzaOda"}},"text/uri-list":{"schema":{"type":"string"}}}},"404":{"description":"Not Found"}}},"put":{"tags":["consuntivo-oda-property-reference-controller"],"description":"update-istanzaoda-by-consuntivooda-Id","operationId":"createPropertyReference-consuntivooda-put","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CollectionModelObject"}},"text/uri-list":{"schema":{"type":"string"}},"application/x-spring-data-compact+json":{"schema":{"$ref":"#/components/schemas/CollectionModelObject"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/EntityModelIstanzaOda"}}}},"201":{"description":"Created","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/EntityModelIstanzaOda"}}}},"204":{"description":"No Content"}}},"delete":{"tags":["consuntivo-oda-property-reference-controller"],"description":"delete-istanzaoda-by-consuntivooda-Id","operationId":"deletePropertyReference-consuntivooda-delete","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"},"404":{"description":"Not Found"}}},"patch":{"tags":["consuntivo-oda-property-reference-controller"],"description":"patch-istanzaoda-by-consuntivooda-Id","operationId":"createPropertyReference-consuntivooda-patch","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CollectionModelObject"}},"text/uri-list":{"schema":{"type":"string"}},"application/x-spring-data-compact+json":{"schema":{"$ref":"#/components/schemas/CollectionModelObject"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/EntityModelIstanzaOda"}}}},"204":{"description":"No Content"}}}},"/backoffice/consuntivoOdas/{id}/fkIstanzaOda/{propertyId}":{"get":{"tags":["consuntivo-oda-property-reference-controller"],"description":"get-istanzaoda-by-consuntivooda-Id","operationId":"followPropertyReference-consuntivooda-get","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"propertyId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/EntityModelIstanzaOda"}}}},"404":{"description":"Not Found"}}},"delete":{"tags":["consuntivo-oda-property-reference-controller"],"description":"delete-istanzaoda-by-consuntivooda-Id","operationId":"deletePropertyReferenceId-consuntivooda-delete","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"propertyId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"},"404":{"description":"Not Found"}}}},"/backoffice/fornitores":{"get":{"tags":["fornitore-entity-controller"],"description":"get-fornitore","operationId":"getCollectionResource-fornitore-get_1","parameters":[{"name":"page","in":"query","description":"Zero-based page index (0..N)","required":false,"schema":{"minimum":0,"type":"integer","default":0}},{"name":"size","in":"query","description":"The size of the page to be returned","required":false,"schema":{"minimum":1,"type":"integer","default":20}},{"name":"sort","in":"query","description":"Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/PagedModelEntityModelFornitore"}},"text/uri-list":{"schema":{"type":"string"}},"application/x-spring-data-compact+json":{"schema":{"$ref":"#/components/schemas/PagedModelEntityModelFornitore"}}}}}},"post":{"tags":["fornitore-entity-controller"],"description":"create-fornitore","operationId":"postCollectionResource-fornitore-post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FornitoreRequestBody"}}},"required":true},"responses":{"201":{"description":"Created","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/EntityModelFornitore"}}}}}}},"/backoffice/fornitores/{id}":{"get":{"tags":["fornitore-entity-controller"],"description":"get-fornitore","operationId":"getItemResource-fornitore-get","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/EntityModelFornitore"}}}},"404":{"description":"Not Found"}}},"put":{"tags":["fornitore-entity-controller"],"description":"update-fornitore","operationId":"putItemResource-fornitore-put","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FornitoreRequestBody"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/EntityModelFornitore"}}}},"201":{"description":"Created","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/EntityModelFornitore"}}}},"204":{"description":"No Content"}}},"delete":{"tags":["fornitore-entity-controller"],"description":"delete-fornitore","operationId":"deleteItemResource-fornitore-delete","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"},"404":{"description":"Not Found"}}},"patch":{"tags":["fornitore-entity-controller"],"description":"patch-fornitore","operationId":"patchItemResource-fornitore-patch","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FornitoreRequestBody"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/EntityModelFornitore"}}}},"204":{"description":"No Content"}}}},"/backoffice/gestioneTickets":{"get":{"tags":["gestione-ticket-entity-controller"],"description":"get-gestioneticket","operationId":"getCollectionResource-gestioneticket-get_1","parameters":[{"name":"page","in":"query","description":"Zero-based page index (0..N)","required":false,"schema":{"minimum":0,"type":"integer","default":0}},{"name":"size","in":"query","description":"The size of the page to be returned","required":false,"schema":{"minimum":1,"type":"integer","default":20}},{"name":"sort","in":"query","description":"Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/PagedModelEntityModelGestioneTicket"}},"text/uri-list":{"schema":{"type":"string"}},"application/x-spring-data-compact+json":{"schema":{"$ref":"#/components/schemas/PagedModelEntityModelGestioneTicket"}}}}}}},"/backoffice/gestioneTickets/search/countAllTicketsNonLettiByCantiere":{"get":{"tags":["gestione-ticket-search-controller"],"operationId":"executeSearch-gestioneticket-get","responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"type":"integer","format":"int64"}}}},"404":{"description":"Not Found"}}}},"/backoffice/gestioneTickets/search/findByFkTicketPadre":{"get":{"tags":["gestione-ticket-search-controller"],"operationId":"executeSearch-gestioneticket-get_1","parameters":[{"name":"idTicketPadre","in":"query","schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/CollectionModelEntityModelGestioneTicket"}}}},"404":{"description":"Not Found"}}}},"/backoffice/gestioneTickets/search/findByParentId":{"get":{"tags":["gestione-ticket-search-controller"],"operationId":"executeSearch-gestioneticket-get_2","parameters":[{"name":"parentId","in":"query","schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/CollectionModelEntityModelGestioneTicket"}}}},"404":{"description":"Not Found"}}}},"/backoffice/gestioneTickets/search/getCasiApertiByCantiere":{"get":{"tags":["gestione-ticket-search-controller"],"operationId":"executeSearch-gestioneticket-get_3","responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"type":"integer","format":"int64"}}}},"404":{"description":"Not Found"}}}},"/backoffice/gestioneTickets/search/getCodIssue":{"get":{"tags":["gestione-ticket-search-controller"],"operationId":"executeSearch-gestioneticket-get_4","parameters":[{"name":"idCantiere","in":"query","schema":{"type":"integer","format":"int64"}},{"name":"descTipoTicket","in":"query","schema":{"type":"string"}},{"name":"idTicket","in":"query","schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"type":"integer","format":"int64"}}}},"404":{"description":"Not Found"}}}},"/backoffice/gestioneTickets/search/listRootTicket":{"get":{"tags":["gestione-ticket-search-controller"],"operationId":"executeSearch-gestioneticket-get_5","parameters":[{"name":"cantiereId","in":"query","schema":{"type":"integer","format":"int64"}},{"name":"statoTicketId","in":"query","schema":{"type":"integer","format":"int64"}},{"name":"ruoloMittente","in":"query","schema":{"type":"string"}},{"name":"ruoloDest","in":"query","schema":{"type":"string"}},{"name":"page","in":"query","description":"Zero-based page index (0..N)","required":false,"schema":{"minimum":0,"type":"integer","default":0}},{"name":"size","in":"query","description":"The size of the page to be returned","required":false,"schema":{"minimum":1,"type":"integer","default":20}},{"name":"sort","in":"query","description":"Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/PagedModelEntityModelGestioneTicket"}}}},"404":{"description":"Not Found"}}}},"/backoffice/gestioneTickets/{id}":{"get":{"tags":["gestione-ticket-entity-controller"],"description":"get-gestioneticket","operationId":"getItemResource-gestioneticket-get","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/EntityModelGestioneTicket"}}}},"404":{"description":"Not Found"}}},"delete":{"tags":["gestione-ticket-entity-controller"],"description":"delete-gestioneticket","operationId":"deleteItemResource-gestioneticket-delete","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"},"404":{"description":"Not Found"}}}},"/backoffice/gestioneTickets/{id}/cantiere":{"get":{"tags":["gestione-ticket-property-reference-controller"],"description":"get-cantiere-by-gestioneticket-Id","operationId":"followPropertyReference-gestioneticket-get_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/EntityModelCantiere"}},"text/uri-list":{"schema":{"type":"string"}}}},"404":{"description":"Not Found"}}},"delete":{"tags":["gestione-ticket-property-reference-controller"],"description":"delete-cantiere-by-gestioneticket-Id","operationId":"deletePropertyReference-gestioneticket-delete","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"},"404":{"description":"Not Found"}}}},"/backoffice/gestioneTickets/{id}/cantiere/{propertyId}":{"get":{"tags":["gestione-ticket-property-reference-controller"],"description":"get-cantiere-by-gestioneticket-Id","operationId":"followPropertyReference-gestioneticket-get","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"propertyId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/EntityModelCantiere"}}}},"404":{"description":"Not Found"}}},"delete":{"tags":["gestione-ticket-property-reference-controller"],"description":"delete-cantiere-by-gestioneticket-Id","operationId":"deletePropertyReferenceId-gestioneticket-delete","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"propertyId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"},"404":{"description":"Not Found"}}}},"/backoffice/gestioneTickets/{id}/fkTipoIssueDettaglio":{"get":{"tags":["gestione-ticket-property-reference-controller"],"description":"get-tipoissuedettaglio-by-gestioneticket-Id","operationId":"followPropertyReference-gestioneticket-get_2_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/EntityModelTipoIssueDettaglio"}},"text/uri-list":{"schema":{"type":"string"}}}},"404":{"description":"Not Found"}}},"delete":{"tags":["gestione-ticket-property-reference-controller"],"description":"delete-tipoissuedettaglio-by-gestioneticket-Id","operationId":"deletePropertyReference-gestioneticket-delete_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"},"404":{"description":"Not Found"}}}},"/backoffice/gestioneTickets/{id}/fkTipoIssueDettaglio/{propertyId}":{"get":{"tags":["gestione-ticket-property-reference-controller"],"description":"get-tipoissuedettaglio-by-gestioneticket-Id","operationId":"followPropertyReference-gestioneticket-get_2","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"propertyId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/EntityModelTipoIssueDettaglio"}}}},"404":{"description":"Not Found"}}},"delete":{"tags":["gestione-ticket-property-reference-controller"],"description":"delete-tipoissuedettaglio-by-gestioneticket-Id","operationId":"deletePropertyReferenceId-gestioneticket-delete_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"propertyId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"},"404":{"description":"Not Found"}}}},"/backoffice/gestioneTickets/{id}/parent":{"get":{"tags":["gestione-ticket-property-reference-controller"],"description":"get-gestioneticket-by-gestioneticket-Id","operationId":"followPropertyReference-gestioneticket-get_3_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/EntityModelGestioneTicket"}},"text/uri-list":{"schema":{"type":"string"}}}},"404":{"description":"Not Found"}}},"delete":{"tags":["gestione-ticket-property-reference-controller"],"description":"delete-gestioneticket-by-gestioneticket-Id","operationId":"deletePropertyReference-gestioneticket-delete_2","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"},"404":{"description":"Not Found"}}}},"/backoffice/gestioneTickets/{id}/parent/{propertyId}":{"get":{"tags":["gestione-ticket-property-reference-controller"],"description":"get-gestioneticket-by-gestioneticket-Id","operationId":"followPropertyReference-gestioneticket-get_3","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"propertyId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/EntityModelGestioneTicket"}}}},"404":{"description":"Not Found"}}},"delete":{"tags":["gestione-ticket-property-reference-controller"],"description":"delete-gestioneticket-by-gestioneticket-Id","operationId":"deletePropertyReferenceId-gestioneticket-delete_2","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"propertyId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"},"404":{"description":"Not Found"}}}},"/backoffice/gestioneTickets/{id}/ruoloDest":{"get":{"tags":["gestione-ticket-property-reference-controller"],"description":"get-ruolo-by-gestioneticket-Id","operationId":"followPropertyReference-gestioneticket-get_4_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/EntityModelRuolo"}},"text/uri-list":{"schema":{"type":"string"}}}},"404":{"description":"Not Found"}}},"delete":{"tags":["gestione-ticket-property-reference-controller"],"description":"delete-ruolo-by-gestioneticket-Id","operationId":"deletePropertyReference-gestioneticket-delete_3","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"},"404":{"description":"Not Found"}}}},"/backoffice/gestioneTickets/{id}/ruoloDest/{propertyId}":{"get":{"tags":["gestione-ticket-property-reference-controller"],"description":"get-ruolo-by-gestioneticket-Id","operationId":"followPropertyReference-gestioneticket-get_4","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"propertyId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/EntityModelRuolo"}}}},"404":{"description":"Not Found"}}},"delete":{"tags":["gestione-ticket-property-reference-controller"],"description":"delete-ruolo-by-gestioneticket-Id","operationId":"deletePropertyReferenceId-gestioneticket-delete_3","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"propertyId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"},"404":{"description":"Not Found"}}}},"/backoffice/gestioneTickets/{id}/ruoloMittente":{"get":{"tags":["gestione-ticket-property-reference-controller"],"description":"get-ruolo-by-gestioneticket-Id","operationId":"followPropertyReference-gestioneticket-get_5_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/EntityModelRuolo"}},"text/uri-list":{"schema":{"type":"string"}}}},"404":{"description":"Not Found"}}},"delete":{"tags":["gestione-ticket-property-reference-controller"],"description":"delete-ruolo-by-gestioneticket-Id","operationId":"deletePropertyReference-gestioneticket-delete_4","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"},"404":{"description":"Not Found"}}}},"/backoffice/gestioneTickets/{id}/ruoloMittente/{propertyId}":{"get":{"tags":["gestione-ticket-property-reference-controller"],"description":"get-ruolo-by-gestioneticket-Id","operationId":"followPropertyReference-gestioneticket-get_5","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"propertyId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/EntityModelRuolo"}}}},"404":{"description":"Not Found"}}},"delete":{"tags":["gestione-ticket-property-reference-controller"],"description":"delete-ruolo-by-gestioneticket-Id","operationId":"deletePropertyReferenceId-gestioneticket-delete_4","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"propertyId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"},"404":{"description":"Not Found"}}}},"/backoffice/gestioneTickets/{id}/statoTicket":{"get":{"tags":["gestione-ticket-property-reference-controller"],"description":"get-statoticket-by-gestioneticket-Id","operationId":"followPropertyReference-gestioneticket-get_6_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/EntityModelStatoTicket"}},"text/uri-list":{"schema":{"type":"string"}}}},"404":{"description":"Not Found"}}},"delete":{"tags":["gestione-ticket-property-reference-controller"],"description":"delete-statoticket-by-gestioneticket-Id","operationId":"deletePropertyReference-gestioneticket-delete_5","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"},"404":{"description":"Not Found"}}}},"/backoffice/gestioneTickets/{id}/statoTicket/{propertyId}":{"get":{"tags":["gestione-ticket-property-reference-controller"],"description":"get-statoticket-by-gestioneticket-Id","operationId":"followPropertyReference-gestioneticket-get_6","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"propertyId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/EntityModelStatoTicket"}}}},"404":{"description":"Not Found"}}},"delete":{"tags":["gestione-ticket-property-reference-controller"],"description":"delete-statoticket-by-gestioneticket-Id","operationId":"deletePropertyReferenceId-gestioneticket-delete_5","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"propertyId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"},"404":{"description":"Not Found"}}}},"/backoffice/gestioneTickets/{id}/tipoTicket":{"get":{"tags":["gestione-ticket-property-reference-controller"],"description":"get-tipoticket-by-gestioneticket-Id","operationId":"followPropertyReference-gestioneticket-get_7_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/EntityModelTipoTicket"}},"text/uri-list":{"schema":{"type":"string"}}}},"404":{"description":"Not Found"}}},"delete":{"tags":["gestione-ticket-property-reference-controller"],"description":"delete-tipoticket-by-gestioneticket-Id","operationId":"deletePropertyReference-gestioneticket-delete_6","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"},"404":{"description":"Not Found"}}}},"/backoffice/gestioneTickets/{id}/tipoTicket/{propertyId}":{"get":{"tags":["gestione-ticket-property-reference-controller"],"description":"get-tipoticket-by-gestioneticket-Id","operationId":"followPropertyReference-gestioneticket-get_7","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"propertyId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/EntityModelTipoTicket"}}}},"404":{"description":"Not Found"}}},"delete":{"tags":["gestione-ticket-property-reference-controller"],"description":"delete-tipoticket-by-gestioneticket-Id","operationId":"deletePropertyReferenceId-gestioneticket-delete_6","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"propertyId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"},"404":{"description":"Not Found"}}}},"/backoffice/istanzaOdas":{"get":{"tags":["istanza-oda-entity-controller"],"description":"get-istanzaoda","operationId":"getCollectionResource-istanzaoda-get_1","parameters":[{"name":"page","in":"query","description":"Zero-based page index (0..N)","required":false,"schema":{"minimum":0,"type":"integer","default":0}},{"name":"size","in":"query","description":"The size of the page to be returned","required":false,"schema":{"minimum":1,"type":"integer","default":20}},{"name":"sort","in":"query","description":"Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/PagedModelEntityModelIstanzaOda"}},"text/uri-list":{"schema":{"type":"string"}},"application/x-spring-data-compact+json":{"schema":{"$ref":"#/components/schemas/PagedModelEntityModelIstanzaOda"}}}}}},"post":{"tags":["istanza-oda-entity-controller"],"description":"create-istanzaoda","operationId":"postCollectionResource-istanzaoda-post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/IstanzaOdaRequestBody"}}},"required":true},"responses":{"201":{"description":"Created","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/EntityModelIstanzaOda"}}}}}}},"/backoffice/istanzaOdas/search/deleteByIstanzaOda":{"get":{"tags":["istanza-oda-search-controller"],"operationId":"executeSearch-istanzaoda-get","parameters":[{"name":"idIstanzaOda","in":"query","schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"},"404":{"description":"Not Found"}}}},"/backoffice/istanzaOdas/search/findAllCodiciOdaByClusterCode":{"get":{"tags":["istanza-oda-search-controller"],"operationId":"executeSearch-istanzaoda-get_1","parameters":[{"name":"clusterCode","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/CollectionModelEntityModelIstanzaOda"}}}},"404":{"description":"Not Found"}}}},"/backoffice/istanzaOdas/search/findByCodCodiceOda":{"get":{"tags":["istanza-oda-search-controller"],"operationId":"executeSearch-istanzaoda-get_2","parameters":[{"name":"codCodiceOda","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/EntityModelIstanzaOda"}}}},"404":{"description":"Not Found"}}}},"/backoffice/istanzaOdas/search/findIdByCodCodiceOda":{"get":{"tags":["istanza-oda-search-controller"],"operationId":"executeSearch-istanzaoda-get_3","parameters":[{"name":"codCodiceOda","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/EntityModelIstanzaOda"}}}},"404":{"description":"Not Found"}}}},"/backoffice/istanzaOdas/search/findMaxId":{"get":{"tags":["istanza-oda-search-controller"],"operationId":"executeSearch-istanzaoda-get_4","responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"type":"integer","format":"int64"}}}},"404":{"description":"Not Found"}}}},"/backoffice/istanzaOdas/search/findMaxIdByProceduraGara":{"get":{"tags":["istanza-oda-search-controller"],"operationId":"executeSearch-istanzaoda-get_5","parameters":[{"name":"proceduraGara","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"type":"integer","format":"int64"}}}},"404":{"description":"Not Found"}}}},"/backoffice/istanzaOdas/search/findTopByOrderByIdIstanzaOdaDesc":{"get":{"tags":["istanza-oda-search-controller"],"operationId":"executeSearch-istanzaoda-get_6","responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/EntityModelIstanzaOda"}}}},"404":{"description":"Not Found"}}}},"/backoffice/istanzaOdas/search/getIstanzaOdaByCodiceOda":{"get":{"tags":["istanza-oda-search-controller"],"operationId":"executeSearch-istanzaoda-get_7","parameters":[{"name":"codiceOda","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/EntityModelIstanzaOda"}}}},"404":{"description":"Not Found"}}}},"/backoffice/istanzaOdas/search/getPrestazioniCollegate":{"get":{"tags":["istanza-oda-search-controller"],"operationId":"executeSearch-istanzaoda-get_8","parameters":[{"name":"codCodiceOda","in":"query","schema":{"type":"string"}},{"name":"page","in":"query","description":"Zero-based page index (0..N)","required":false,"schema":{"minimum":0,"type":"integer","default":0}},{"name":"size","in":"query","description":"The size of the page to be returned","required":false,"schema":{"minimum":1,"type":"integer","default":20}},{"name":"sort","in":"query","description":"Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/PagedModelEntityModelIstanzaOda"}}}},"404":{"description":"Not Found"}}}},"/backoffice/istanzaOdas/search/getValuesByPrestazione":{"get":{"tags":["istanza-oda-search-controller"],"operationId":"executeSearch-istanzaoda-get_9","parameters":[{"name":"codPrestazione","in":"query","schema":{"type":"string"}},{"name":"descPrestazione","in":"query","schema":{"type":"string"}},{"name":"quantita","in":"query","schema":{"type":"integer","format":"int64"}},{"name":"numRisorseDigitaliStimate","in":"query","schema":{"type":"integer","format":"int64"}},{"name":"page","in":"query","description":"Zero-based page index (0..N)","required":false,"schema":{"minimum":0,"type":"integer","default":0}},{"name":"size","in":"query","description":"The size of the page to be returned","required":false,"schema":{"minimum":1,"type":"integer","default":20}},{"name":"sort","in":"query","description":"Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/PagedModelEntityModelIstanzaOda"}}}},"404":{"description":"Not Found"}}}},"/backoffice/istanzaOdas/{id}":{"get":{"tags":["istanza-oda-entity-controller"],"description":"get-istanzaoda","operationId":"getItemResource-istanzaoda-get","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/EntityModelIstanzaOda"}}}},"404":{"description":"Not Found"}}},"put":{"tags":["istanza-oda-entity-controller"],"description":"update-istanzaoda","operationId":"putItemResource-istanzaoda-put","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/IstanzaOdaRequestBody"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/EntityModelIstanzaOda"}}}},"201":{"description":"Created","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/EntityModelIstanzaOda"}}}},"204":{"description":"No Content"}}},"delete":{"tags":["istanza-oda-entity-controller"],"description":"delete-istanzaoda","operationId":"deleteItemResource-istanzaoda-delete","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"},"404":{"description":"Not Found"}}},"patch":{"tags":["istanza-oda-entity-controller"],"description":"patch-istanzaoda","operationId":"patchItemResource-istanzaoda-patch","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/IstanzaOdaRequestBody"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/EntityModelIstanzaOda"}}}},"204":{"description":"No Content"}}}},"/backoffice/istanzaOdas/{id}/fkCluster":{"get":{"tags":["istanza-oda-property-reference-controller"],"description":"get-cluster-by-istanzaoda-Id","operationId":"followPropertyReference-istanzaoda-get_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/EntityModelCluster"}},"text/uri-list":{"schema":{"type":"string"}}}},"404":{"description":"Not Found"}}},"put":{"tags":["istanza-oda-property-reference-controller"],"description":"update-cluster-by-istanzaoda-Id","operationId":"createPropertyReference-istanzaoda-put","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CollectionModelObject"}},"text/uri-list":{"schema":{"type":"string"}},"application/x-spring-data-compact+json":{"schema":{"$ref":"#/components/schemas/CollectionModelObject"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/EntityModelCluster"}}}},"201":{"description":"Created","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/EntityModelCluster"}}}},"204":{"description":"No Content"}}},"delete":{"tags":["istanza-oda-property-reference-controller"],"description":"delete-cluster-by-istanzaoda-Id","operationId":"deletePropertyReference-istanzaoda-delete","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"},"404":{"description":"Not Found"}}},"patch":{"tags":["istanza-oda-property-reference-controller"],"description":"patch-cluster-by-istanzaoda-Id","operationId":"createPropertyReference-istanzaoda-patch","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CollectionModelObject"}},"text/uri-list":{"schema":{"type":"string"}},"application/x-spring-data-compact+json":{"schema":{"$ref":"#/components/schemas/CollectionModelObject"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/EntityModelCluster"}}}},"204":{"description":"No Content"}}}},"/backoffice/istanzaOdas/{id}/fkCluster/{propertyId}":{"get":{"tags":["istanza-oda-property-reference-controller"],"description":"get-cluster-by-istanzaoda-Id","operationId":"followPropertyReference-istanzaoda-get","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"propertyId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/EntityModelCluster"}}}},"404":{"description":"Not Found"}}},"delete":{"tags":["istanza-oda-property-reference-controller"],"description":"delete-cluster-by-istanzaoda-Id","operationId":"deletePropertyReferenceId-istanzaoda-delete","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"propertyId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"},"404":{"description":"Not Found"}}}},"/backoffice/istanzaOdas/{id}/fkStatoOda":{"get":{"tags":["istanza-oda-property-reference-controller"],"description":"get-statooda-by-istanzaoda-Id","operationId":"followPropertyReference-istanzaoda-get_2_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/EntityModelStatoOda"}},"text/uri-list":{"schema":{"type":"string"}}}},"404":{"description":"Not Found"}}},"put":{"tags":["istanza-oda-property-reference-controller"],"description":"update-statooda-by-istanzaoda-Id","operationId":"createPropertyReference-istanzaoda-put_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CollectionModelObject"}},"text/uri-list":{"schema":{"type":"string"}},"application/x-spring-data-compact+json":{"schema":{"$ref":"#/components/schemas/CollectionModelObject"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/EntityModelStatoOda"}}}},"201":{"description":"Created","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/EntityModelStatoOda"}}}},"204":{"description":"No Content"}}},"delete":{"tags":["istanza-oda-property-reference-controller"],"description":"delete-statooda-by-istanzaoda-Id","operationId":"deletePropertyReference-istanzaoda-delete_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"},"404":{"description":"Not Found"}}},"patch":{"tags":["istanza-oda-property-reference-controller"],"description":"patch-statooda-by-istanzaoda-Id","operationId":"createPropertyReference-istanzaoda-patch_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CollectionModelObject"}},"text/uri-list":{"schema":{"type":"string"}},"application/x-spring-data-compact+json":{"schema":{"$ref":"#/components/schemas/CollectionModelObject"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/EntityModelStatoOda"}}}},"204":{"description":"No Content"}}}},"/backoffice/istanzaOdas/{id}/fkStatoOda/{propertyId}":{"get":{"tags":["istanza-oda-property-reference-controller"],"description":"get-statooda-by-istanzaoda-Id","operationId":"followPropertyReference-istanzaoda-get_2","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"propertyId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/EntityModelStatoOda"}}}},"404":{"description":"Not Found"}}},"delete":{"tags":["istanza-oda-property-reference-controller"],"description":"delete-statooda-by-istanzaoda-Id","operationId":"deletePropertyReferenceId-istanzaoda-delete_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"propertyId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"},"404":{"description":"Not Found"}}}},"/backoffice/livelloDescrittivoCantieres":{"get":{"tags":["livello-descrittivo-cantiere-entity-controller"],"description":"get-livellodescrittivocantiere","operationId":"getCollectionResource-livellodescrittivo
[...]
